# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @TerryHowe @Wwwsylvia @sabre1041 @sajayantony @shizhMSFT @qweeah @terryhowe @wwwsylvia @stevelasker @vsoch @FeynmanZhou @asmitbm @bacongobbler @flavio @thomastaylor312 @wangxiaoxuan273 @shizhmsft @akashsinghal @sammychinedu2ky 
